<p>Dear {{ name }},</p>
<p>Thank you for your registration. Please click below to confirm your email.</p>
<p style='display: flex; justify-content: center;'>
  <a style='background-color: #00838f; margin: 10px auto; padding: 5px 10px; border-radius: 21px; color: #fff; font-size: 16px; text-decoration: none'
     href="{{ url }}">Complete Registration</a>
</p>
<p>If you not request this email you can safely ignore it.</p>

<p>The COVID Navigator is a public-good asset that has been about 10 months in the making.
  In response to the global pandemic, and driven by the BPM+ Health community’s
  (http://bpm-plus.org) interest in helping where we could.  Note that the entirety
  of this effort was done on a volunteer basis, including the extensive software development which was also contributed.
  <strong>There are no commercial interests or onward financial intentions – this is a public good.</strong>
  The purpose of the navigator is to:
</p>

<ul>
  <li>Provide a complement to existing Search Engines</li>
  <li>Visualize the connections between topics of interest, COVID-related assets and guidance</li>
  <li>Allow users to quickly narrow large pools of candidates to their specific interests</li>
  <li>Complement other COVID support tools and sites</li>
</ul>

<p>At present, the website base functionality is at a Beta state, and we are hoping
  to elicit some help in exercising its functionality.
  We are interested and exploring opportunities to bulk-load content from some existing portal sites.
  Presently, the Navigator has limited data available however.
  Our hope is that you are willing to “kick the tires” and let us know your impressions,
  identify critical-path usability issues, and suggest improvements.<br/>
  The portal URL is: http://covidnavigator.org
</p>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&gt; Please submit REAL content.  This is a live production instance.  Thank you!</strong>
<p>We have created an test script/survey to help guide you through exploration
  of the COVID Navigator and provide a means for feedback.
  It might be helpful to have the test script/survey and COVID Navigator both open in tabs
  as you go through.<br/>
  The link for the test script/survey: <a rel="noopener noreferrer" target="_blank" href="https://www.surveymonkey.com/r/G8CTQH3">COVID Navigator Test Script/Survey</a>
  [Note that a copy of this script is attached to this email for convenient reference]<br/>
  Please feel free to also submit comments to covid@omg.org<br/>
  Thanks again for your assistance<br/><br/>
  Regards,<br/>
  <strong>Ken Rubin, on behalf of the COVID Navigator Team</strong>
</p>

